streamlit==1.29.0
pandas==2.1.4
mysql-connector-python==8.2.0
plotly==5.17.0
streamlit-option-menu==0.3.6
streamlit-aggrid==0.3.4.post3
openpyxl==3.1.2
python-dateutil==2.8.2
sqlalchemy==2.0.23
streamlit-lottie==0.0.5
requests==2.31.0
